a.cart {
	background-image: url('../../../img/cart.png');
	padding-right: 28px;
	background-position: right 6px;
	height: 40px;
	display: flex;
	align-items: center;
	background-size: 20px;
	background-repeat: no-repeat;
}
