section.cart-page {

}
section.cart-page > .content {
	margin-top: 50px;
}

section.cart-page ul.items {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
section.cart-page ul.items li {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
section.cart-page ul.items li img {
	height: 150px;
	width: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

section.cart-page ul.items li .details  {
	line-height: 1.4em;
	flex-grow: 1;
}
section.cart-page ul.items li .details h1 {
	text-transform: uppercase;
  	font-weight: 600;
  	letter-spacing: .05em;
  	font-size: 1.4em;
}

section.cart-page ul.items li .details h2 {
	text-transform: uppercase;
  	font-size: .8em;
	font-weight: 300;
}

section.cart-page ul.items li .details h3 {
	font-size: 1.2em;
	color: #3498db;
}

section.cart-page ul.items li i {
	font-size: 2em;
	margin-right: 30px;
	cursor: pointer;
}

section.cart-page .summary {
	text-align: right;
	font-size: 1.4em;
}
